* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inbox {
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
    border-bottom: 0;
}

input:checked+label {
    text-decoration: line-through;
}

.checkbox {
    cursor: pointer;
    margin: 25px;
}

.label {
    padding: 20px;
    font-size: 16px;
    font-weight: 200;
}